<h1 id="tableLabel">Duckbills</h1>

<p>This component demonstrates fetching duckbills from the server.</p>

<button class="btn btn-primary" [routerLink]="['/duckbill-add']">Add duckbill</button>

<p *ngIf="!duckbills"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="duckbills">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let duckbill of duckbills">
      <td>{{ duckbill.id }}</td>
      <td>{{ duckbill.name }}</td>
      <td><button class="btn btn-primary" (click)="deleteDuckbill(duckbill)">delete</button></td>
    </tr>
  </tbody>
</table>
